@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@300&display=swap');
#container {
    width: 1020px;
    margin: 20px auto;
    background-color: #2c3e50;
    font-family: 'Noto Sans KR', sans-serif;
}
#commerce {
    width: 70%;
    position: relative;
    float:left;
}
#commerce-title {
    border-bottom-style: solid;
    border-bottom-color: black;
    margin-top: 30px;
}
#commerce-section {
    width:100%;
    position: absolute;
    border-style : dashed;
}
.commerce-info {
    width: 40%;
	margin: 5px auto;
	position: relative;
}

#search {
    width: 30%;
    position: relative;
    float:left;
}
.commerce-img{
    margin: 20px 30px;
    width: 80%;
    border: 1px solid rgb(29, 25, 25);
    box-shadow: 10px 10px;
    transition-property: width, height;
}
.commerce-text{
    display: none;
    color :azure;
}
.commerce-img:hover{
    cursor: pointer;
}

@keyframes move-to-left {
    0% {margin-left:80%}
    100% {margin-left:0}
}
#main-title {
    animation-name: move-to-left;
    animation-duration: 2s;
    display: flex;
}

a {
    color: rgb(179, 178, 196);
    font-size: 20px;
    text-decoration: none;
    font-weight: lighter;
}
#nav {
    margin: 50px;
}
fieldset {
    border:solid;
    border-color: #2c3e50;
    padding: 20px;
    margin: 50px;
    text-align: center;
    background-color: #535c68; 
    border-radius: 20px;
}

#title {
    text-align: left;
}

nav {
    background-color: rgba(12, 1, 1, 0.315);
    height: 30px;
    width: 100%;
    text-align: left;
}

a:hover {
    background: rgba(194, 169, 169, 0.164);
}

input[type=submit]{
    color: white;
    font-family: 'Noto Sans KR', sans-serif;
    background-color: black;
    font-weight: bold;
    width: 200px;
    height: 30px;
}

input[type=submit]:hover {
    color:black;
    background-color: #888;
    cursor: pointer;
}