@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@300&display=swap');
a {
    color: rgb(179, 178, 196);
    font-size: 20px;
    text-decoration: none;
    font-family: 'Sansita Swashed';
    font-weight: lighter;
}

fieldset {
    border:solid;
    border-color:slategray;
    padding: 10px;
    margin: 15px;
}


form {
    color:rgb(201, 198, 214);
}

body {
    background-image: url("https://assets.hyatt.com/content/dam/hyatt/hyattdam/images/2017/10/03/1143/Hyatt-Centric-Times-Square-New-York-P132-Bar-54-Manhattan-City-View.jpg/Hyatt-Centric-Times-Square-New-York-P132-Bar-54-Manhattan-City-View.16x9.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Noto Sans KR', sans-serif;

}

h1 {
    color: rgb(34, 24, 24);
    font-size: 40px;
    text-align: left;
}

nav {
    background-color: rgba(12, 1, 1, 0.315);
    height: 30px;
    width: 100%;
}

a:hover {
    background: rgba(194, 169, 169, 0.164);
}

input[type=submit]{
    font-family: 'Noto Sans KR', sans-serif;
    background-color: rgb(139, 141, 135);
    font-weight: bold;
    border-radius: 4px;
    width: 10%;
}