@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@300&display=swap');
a {
    color: rgb(179, 178, 196);
    font-size: 20px;
    text-decoration: none;
    font-weight: lighter;
}

fieldset {
    border:solid;
    border-color: #2c3e50;
    padding: 20px;
    margin: 50px;
    text-align: center;
    background-color: #535c68; 
    border-radius: 20px;
}

body {
    background-color: #2c3e50;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

#title {
    color: rgb(247, 247, 247);
    font-size: 40px;
    text-align: center;
}

nav {
    background-color: rgba(12, 1, 1, 0.315);
    height: 30px;
    width: 100%;
    text-align:center;
}

a:hover {
    background: rgba(194, 169, 169, 0.164);
}

input[type=submit]{
    color: white;
    font-family: 'Noto Sans KR', sans-serif;
    background-color: black;
    font-weight: bold;
    width: 20%;
}

input[type=submit]:hover {
    color:black;
    background-color: white;
}