@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@300&display=swap');
#container {
    width: 1020px;
    margin: 20px auto;
    background-color: #2c3e50;
    font-family: 'Noto Sans KR', sans-serif;
}
#commerce {
    width: 100%;
    height: 800px;
    position: relative;
}
#commerce-title {
    border-bottom-style: solid;
    border-bottom-color: black;
    margin-top: 30px;
}
#commerce-section {
    width:50%;
    height:700px;
    position: absolute;
    border-style : dashed;
}
#commerce-img{
    margin: 20px 30px;
    width: 25%;
    border: 1px solid rgb(29, 25, 25);
    box-shadow: 10px 10px;
    transition-property: width, height;
}
#commerce-img:hover {
    transition-duration: 2s;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    box-shadow: none;
}
@keyframes move-to-left {
    0% {margin-left:80%}
    100% {margin-left:0}
}
#main-title {
    animation-name: move-to-left;
    animation-duration: 2s;
    display: flex;
}
.flexbox {
    column-count: 2;
    column-gap: 30px;
    column-width: 200px;
    column-rule-style: solid;   
    column-rule-width: 3px;
    column-rule-color: rgba(12, 11, 10, 0.685);
    
}
a {
    color: rgb(179, 178, 196);
    font-size: 20px;
    text-decoration: none;
    font-weight: lighter;
}
#nav {
    margin: 50px;
}
fieldset {
    border:solid;
    border-color: #2c3e50;
    padding: 20px;
    margin: 50px;
    text-align: center;
    background-color: #535c68; 
    border-radius: 20px;
}

#title {
    text-align: left;
}

nav {
    background-color: rgba(12, 1, 1, 0.315);
    height: 30px;
    width: 100%;
    text-align: left;
}

a:hover {
    background: rgba(194, 169, 169, 0.164);
}

input[type=submit]{
    color: white;
    font-family: 'Noto Sans KR', sans-serif;
    background-color: black;
    font-weight: bold;
    width: 200px;
    height: 30px;
}

input[type=submit]:hover {
    color:black;
    background-color: #888;
    cursor: pointer;
}